/*************************************************************************重置样式************************************************************/
html {
  font-family: STHeiti, arial, verdana, helvetica, sans-serif;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}
body {
  background-color: #eeedfa;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #535a66;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-weight: 300;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp,
span,
em,
i,
img {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
/*body,input,textarea,button,select,pre,tt,code,kbd,samp,optgroup,option{
    line-height:@baseLineHeight;
}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
textarea,
input {
  -webkit-outline: none;
  outline: none;
  border: none;
}
ins,
s,
u,
del {
  text-decoration: none;
}
a {
  color: #3dbdff;
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover,
a:focus,
a:active,
a:visited {
  outline: none;
}
a:active {
  color: #0aacff;
}
a:visited {
  color: #3dbdff;
}
button {
  border: 0 none;
}
button::-moz-focus-inner {
  border: none;
}
button:focus {
  outline: none;
  /* for Firefox，IE8.0等 */
}
input[disabled] {
  background: #ececec;
  color: #cccccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b2b2b2;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b2b2b2;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b2b2b2;
}
::-ms-reveal {
  display: none;
}
:focus {
  outline: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  -moz-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:focus,
textarea:focus {
  -webkit-user-modify: read-write-plaintext-only;
}
/*********************************************************************基础样式********************************************************************/
.bg_grey {
  background: #eeedfa;
}
.body-content {
  height: 100%;
  padding: 0.8rem 1rem;
}
header.topmeun {
  height: 4.4rem;
  background: #3dbdff;
  border-bottom: 1px solid #0aacff;
  box-sizing: initial;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
}
header.topmeun h1 {
  color: #ffffff;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.6rem;
  line-height: 4.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header.topmeun a {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  width: 4.4rem;
  height: 4.4rem;
  color: #ffffff;
  text-align: center;
}
header.topmeun a i {
  color: #ffffff;
  font-size: 2.2rem;
  line-height: 2.2rem;
  display: block;
}
header.topmeun a.back {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
header.topmeun a:active {
  background: #008dd6;
}
header.topmeun a:visited {
  background: #3dbdff;
}
.discribe {
  font-size: 1.2rem;
  color: #b2b2b2;
  margin-top: 1rem;
}
.pdt0 {
  padding-top: 0px;
}
.banklist {
  background: #ffffff;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.banklist .lis {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
  padding: 1.3rem 1.3rem;
  border-bottom: 1px solid #dfe3f0;
  color: #535a66;
}
.banklist .lis:last-child {
  border-bottom: none;
}
.banklist .lis span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.banklist .lis .jt {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.5rem;
}
.banklist .lis .qipao {
  height: 16px;
  min-width: 16px;
  padding: 0px 4px;
  background: #fe3c39;
  border-radius: 8px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px 10px;
  font-size: 1.2rem;
}
.banklist > a:last-child {
  border-bottom: none;
}
.banklist > a:active {
  background: #eeedfa;
}
.banklist > a:visited {
  background: #ffffff;
}
.banklist img {
  display: block;
  width: 40px;
  margin-right: 20px;
}
.banklist .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.banklist .content h2 {
  font-size: 1.5rem;
}
.banklist .content p {
  color: #a2a9b2;
}
.banklist i {
  color: #ffffff;
}
.banklist i.select {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 5px;
  background: #eeedfa;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
}
.banklist .radio {
  opacity: 0.0;
}
.banklist .radio:checked + i.select {
  background-color: #3dbdff;
}
body > .warp {
  padding-bottom: 5.2rem;
}
.abortmsg {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 120px;
  color: #a2a9b2;
}
.abortmsg i {
  margin-right: 8px;
  display: block;
  font-size: 25px;
  color: #a2a9b2;
}
.mino-color {
  color: #a2a9b2;
}
.mt20 {
  margin-top: 20px;
}
.navbtn {
  height: 4.4rem;
  background: #ffffff;
  border-top: 1px solid #dfe3f0;
  line-height: 4.1rem;
  color: #535a66;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1004;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
}
.navbtn a {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 33.33%;
  color: #535a66;
  border-right: 1px solid #dfe3f0;
}
.navbtn a i {
  padding-right: 3px;
  font-size: 1.5rem;
  font-weight: 600;
  vertical-align: text-bottom;
}
.navbtn a:active {
  background: #eeedfa;
}
.navbtn a:visited {
  background: #ffffff;
}
@font-face {
  font-family: 'dsFont';
  src: url('../font/dsFont.eot?-ttl47x');
  src: url('../font/dsFont.eot?#iefix-ttl47x') format('embedded-opentype'), url('../font/dsFont.ttf?-ttl47x') format('truetype'), url('../font/dsFont.woff?-ttl47x') format('woff'), url('../font/dsFont.svg?-ttl47x#dsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.icoFt {
  font-family: 'dsFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huiyuan:before {
  content: "\e600";
}
.icon-huodong:before {
  content: "\e601";
}
.icon-jiantou:before {
  content: "\e602";
}
.icon-mima:before {
  content: "\e603";
}
.icon-qian:before {
  content: "\e604";
}
.icon-s:before {
  content: "\e958";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-cool:before {
  content: "\e605";
}
