/***********************弹出层样式*************************/
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
  display: none;
}
.popup .dialog {
  font-size: 1.4rem;
  width: 90%;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  overflow: hidden;
}
.popup .dialog .dialog-title,
.popup .dialog .warp,
.popup .dialog .popupbtnbox {
  padding: 0px 24px;
}
.popup .dialog .dialog-title {
  padding-top: 10px;
}
.popup .dialog .dialog-title span {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
.popup .dialog .warp {
  padding: 20px 24px;
  text-align: center;
}
.popup .dialog .close {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
}
.popup .dialog .close i {
  font-size: 12px;
  color: #535a66;
  line-height: 14px;
}
.popup .dialog .popupbtnbox {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 52px;
  background: #eeedfa;
}
.popup .dialog .popupbtnbox .popupbtn {
  text-align: center;
  display: block;
  min-width: 50%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #a2a9b2;
}
.popup .dialog .popupbtnbox .popupbtn:first-child {
  margin-left: 0rem;
}
.popup .dialog .popupbtnbox .popupbtn.comfbox {
  height: 34px;
  border-radius: 2rem;
  display: block;
  background: #3dbdff;
  color: #ffffff;
  font-size: 1.6rem;
  font-size: 1.5rem;
  line-height: 34px;
  box-shadow: 0px 2px 0px #a3e0ff;
}
.popup .dialog .popupbtnbox .popupbtn.comfbox:active {
  background: #0aacff;
}
.popup .dialog .popupbtnbox .popupbtn.comfbox:visited {
  background: #0aacff;
}
.popup .dialog .popupbtnbox .popupbtn.comfbox.disable {
  background: #ccc;
  color: #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
}
.popupts {
  text-align: center;
}
