/******************个人中心样式********************/
.body-content {
  padding: 0rem 0rem;
}
.myhead {
  padding: 0rem 1rem;
  background-color: #ffffff;
}
.myhead .top {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  height: 12rem;
  border-bottom: 1px solid #dfe3f0;
  position: relative;
}
.myhead .top .set {
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  background-image: url('../img/ico/ico.png');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: -140px -3px;
  top: 2rem;
  right: 0rem;
}
.myhead .top img {
  display: block;
  width: 71px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.myhead .top h2 {
  font-size: 1.6rem;
}
.myhead .bottom {
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
}
.myhead .bottom .qure {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.myhead .bottom .qure h2 {
  font-size: 1.6rem;
  color: #3dbdff;
}
.myhead .bottom .qure p {
  color: #a2a9b2;
}
.myhead .bottom .qure:nth-child(1) {
  border-right: 1px solid #dfe3f0;
}
.mybottom {
  padding: 0.8rem 1rem;
}
.mybottom .yue {
  height: 4.4rem;
  background: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
  padding: 0px 1.5rem;
  margin-bottom: 1.5rem;
}
.mybottom .yue p {
  width: 50%;
}
.mybottom .yue p:nth-child(2) {
  text-align: right;
}
.mybottom .title {
  font-size: 1.5rem;
  color: #545c66;
}
.content-tab {
  background: #ffffff;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.content-tab .content-title {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 33px;
  border-bottom: 1px solid #dfe3f0;
  box-sizing: border-box;
}
.content-tab .content-title a {
  display: block;
  height: 33px;
  line-height: 32px;
  padding: 0rem 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: #b2b2b2;
}
.content-tab .content-title a.on {
  border-bottom: 2px solid #3dbdff;
  color: #545c66;
}
