/******************绑定银行卡样式********************/
.formlist {
  background: #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.formlist .lis {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
  padding: 1.3rem 1.3rem;
  border-bottom: 1px solid #dfe3f0;
  color: #535a66;
}
.formlist .lis:last-child {
  border-bottom: none;
}
.formlist .lis span {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.formlist .lis .jt {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.5rem;
}
.formlist .lis .qipao {
  height: 16px;
  min-width: 16px;
  padding: 0px 4px;
  background: #fe3c39;
  border-radius: 8px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: 0px 10px;
  font-size: 1.2rem;
}
.formlist > a:last-child {
  border-bottom: none;
}
.formlist > a:active {
  background: #eeedfa;
}
.formlist > a:visited {
  background: #ffffff;
}
.formlist .lis span {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.formlist .lis .r {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.formlist .lis input {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.4rem;
  height: 5.0rem;
  background-color: none;
}
.formlist > div.lis {
  padding: 0rem 1.3rem;
  height: 5.2rem;
}
.title {
  font-size: 1.4rem;
  color: #535a66;
}
.yuexx {
  font-size: 1.6rem;
  color: #3dbdff;
  font-weight: bold;
}
.input-warp {
  margin-bottom: 10px;
  font-size: 1.4rem;
  height: 4rem;
  background-color: #f0f0f0;
  border-radius: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
}
.input-warp > input,
.input-warp > select {
  height: 4rem;
  border: none;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: none;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  border-radius: 2rem;
}
.input-warp .verification {
  padding-right: 1.5rem;
  font-size: 1.4rem;
  display: block;
  color: #3dbdff;
  height: 4rem;
  background: none;
}
.input-warp .verification:disabled {
  color: #2a2e33;
}
.btnbox {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  padding-top: 2rem;
}
.btnbox input {
  height: 4rem;
  border-radius: 2rem;
  display: block;
  background: #3dbdff;
  color: #ffffff;
  font-size: 1.6rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-shadow: 0px 4px 0px #a3e0ff;
}
.btnbox input:active {
  background: #0aacff;
}
.btnbox input:visited {
  background: #0aacff;
}
.cz input {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  box-pack: start;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid #3dbdff;
  color: #3dbdff;
  padding: 0px 1.2rem;
  background: #ffffff;
  border-radius: 4px;
}
.cz input i {
  font-size: 12px;
}
.cz input:active {
  border: 1px solid #0aacff;
  color: #0aacff;
  background: #eeedfa;
}
.cz input:visited {
  border: 1px solid #3dbdff;
  color: #3dbdff;
  background: #ffffff;
}
